html,
body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/world.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

main {
    width: 500px;
}

input {
    margin: 10px 20px;
    background-color: #8aefa7af;
    color: #2c62e1;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px #05050554;
    padding: 5px;
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px 0;
}

li {
    list-style-type: none;
    margin: 0 25px;
}

a {
    text-decoration: none;
}

footer {
    width: 100%;
    height: 30px;
    background-color: #aaffc173;
    display: flex;
    text-align: center;
    position: fixed;
    justify-content: center;
    bottom: 0;
    left: 0;
}